{% extends "dashboard.html" %} {% load static %} {% block 'body' %}
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=add"
/>

<div class="bg-gray-50">
  <div class="max-w-7xl mx-auto py-6">
    <div class="text-start">
      <div class="flex space-x-4 justify-between">
        <h1
          class="text-balance text-2xl font-semibold tracking-tight text-black sm:text-4xl font-sans font-bold"
        >
          Suas escritas diárias.
        </h1>

        <a
          class="group relative inline-flex items-center overflow-hidden rounded border hover:border-violet-800 bg-violet-800 hover:bg-gray-50 border-current px-8 py-3 text-white hover:text-violet-800 active:text-violet-300"
          href="#"
        >
          <span class="absolute -end-full transition-all group-hover:end-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-plus-lg"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"
              />
            </svg>
          </span>

          <span class="text-sm font-medium transition-all group-hover:me-4">
            Escrever
          </span>
        </a>
      </div>
      <br />

      <button
        type="button"
        class="grid grid-cols-1 md:grid-cols-3 mt-6 gap-8 text-center"
      >
        {% for texto in textos %}
        <div
          class="overflow-hidden rounded-lg bg-white ring-1 ring-white/15 hover:outline outline-offset-2 outline-violet-800"
        >
          <img class="h-40 w-full object-cover" src="{% static "waves.png" %}"
          alt="">
          <div class="p-6">
            <div class="space-x-2">
              {% for i in texto.get_tags %}
              <span
                class="inline-flex items-center rounded-md bg-indigo-400/10 px-2 py-1 text-xs font-medium text-indigo-400 ring-1 ring-inset ring-indigo-400/30"
                >{{ i }}</span
              >
              {% endfor %}
            </div>

            <p class="mt-4 text-lg font-medium tracking-tight text-black">
              {{ texto.titulo }}
            </p>
            <p class="mt-2 text-sm text-gray-400">
              {{ texto.texto|truncatewords:20 }}
            </p>
          </div>
        </div>
        {% endfor %}
      </button>
    </div>
  </div>
</div>

{% endblock 'body' %}
